poultry smart1.txt
[{"id":"c6985747.b593d8","type":"function","z":"8d591ea7.aced1","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nglobal.set(\"temperature\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":89,"wires":[["e4ee5f6.8adc6a","9936e9fb.c7d768"]]},{"id":"787807c1.9f9518","type":"function","z":"8d591ea7.aced1","name":"analogSensor","func":"msg.payload=msg.payload.d.analogSensor\nglobal.set(\"analogSensor\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":343,"y":278,"wires":[["e4ee5f6.8adc6a","b910e4d7.6e4788"]]},{"id":"9936e9fb.c7d768","type":"ui_gauge","z":"8d591ea7.aced1","name":"","group":"e9d44d9f.ca453","order":8,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":585,"y":95,"wires":[]},{"id":"b910e4d7.6e4788","type":"ui_gauge","z":"8d591ea7.aced1","name":"","group":"e9d44d9f.ca453","order":7,"width":0,"height":0,"gtype":"gage","title":"smoke","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":569,"y":260,"wires":[]},{"id":"e4ee5f6.8adc6a","type":"debug","z":"8d591ea7.aced1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":606,"y":164,"wires":[]},{"id":"c7a9e2a8.2a9a3","type":"ibmiot in","z":"8d591ea7.aced1","authentication":"apiKey","apiKey":"7934a71d.13cd98","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"smart_poultry","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":126,"y":165,"wires":[["787807c1.9f9518","c6985747.b593d8"]]},{"id":"6676319e.d69fb","type":"http in","z":"8d591ea7.aced1","name":"","url":"/smoke","method":"get","upload":false,"swaggerDoc":"","x":151,"y":372,"wires":[["29a1458d.5dc90a"]]},{"id":"5885d943.21ce28","type":"http response","z":"8d591ea7.aced1","name":"","statusCode":"","headers":{},"x":503,"y":369,"wires":[]},{"id":"29a1458d.5dc90a","type":"function","z":"8d591ea7.aced1","name":"ashu01","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"analogSensor\":global.get(\"analogSensor\")}\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":373,"wires":[["5885d943.21ce28"]]},{"id":"e9d44d9f.ca453","type":"ui_group","z":"","name":"Default","tab":"aa2aa0e5.77e4e","disp":true,"width":"6","collapse":false},{"id":"7934a71d.13cd98","type":"ibmiot","z":"","name":"ashu01","keepalive":"60","serverName":"q6w3k7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"aa2aa0e5.77e4e","type":"ui_tab","z":"","name":"ashu01","icon":"dashboard","disabled":false,"hidden":false}]